<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %} {% endblock %}</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/estilos.css">  
    </head>
    <body>
        <!-- Menú de navegación -->
        {% include "menu.njk" %}

        <!-- Contenido principal -->
        <div class="container">
            {% block contenido %}
            {% endblock %}
        </div>
    </body>
</html>
